<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Calorie-Tracking With Workout Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <h1>Calorie-Tracking With Workout Recommendation System</h1>
        <ul>
        </ul>
    </nav>

    <div class="container">
        <div class="text">
            <p>Feel free to reach out to us. Here are our contact details:</p>
        </div>

        <div class="contact-info">
            <p><strong>Email:</strong> project@gmail.com</p>
            <p><strong>Phone Number:</strong> 9800889725</p>
        </div>
    </div>
</body>
</html>
